<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
            .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
</head>
<body style="background-color:#d5f4e6;">
  
  <div class="container">
    <div id="app">
      {{message}}
    </div>
    <br>

    <div id="pasatiempo">
      <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Turismo</button>
      
      <p v-if="!isHidden">
        <br>
        <img src="turismo.jpg" alt="Hobbies" width="600" height="350" class="center">      
      </p>
    </div>

    <br>
    <div id="example-2" style="float:right">
      	<button v-on:click="counter += 1">Zonas Turísticas</button>
	    <div v-if="counter == 0">
	    	<p>Fundidora</p>
	    	<img src="fundidora.jpg" alt="Hobbies" width="500" height="250" class="center">
	    </div>
	    <div v-else-if="counter==1">
	    	<p>Chipinque</p>
	    	<img src="chipinque.jpg" alt="Hobbies" width="500" height="250" class="center">
	    </div>
	    <div v-else-if="counter==2">
	    	<p>Santiago, Nuevo León</p>
	    	<img src="santiago.jpg" alt="Hobbies" width="500" height="250" class="center">
	    </div>
	    <div v-else-if="counter==3">
	    	<p>Cascada de Chipitín</p>
	    	<img src="chipitin.jpg" alt="Hobbies" width="500" height="250" class="center">
	    </div>
	    <div v-else-if="counter==4">
	    	<p>Museo MARCO</p>
	    	<img src="marco.jpg" alt="Hobbies" width="500" height="250" class="center">
	    </div>
	    <div v-else>
	    	<p>Fundidora</p>
	    	<img src="fundidora.jpg" alt="Hobbies" width="500" height="250" class="center">
	    	{{counter = 0}}
	    </div>
    </div>

    <div>
      <ul id="example-1">
        <li v-for="item in items">
          <a v-bind:href="item.href">{{ item.mensaje }}</a>
        </li>
      </ul>
    </div>

    <div id="example-3">
      <input v-model="message3" placeholder="Zona">
      <p>¿Cuál es tu zona turística preferida?: {{ message3 }}</p>
    </div>

</div>

  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>
    var app_name = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
  
    var app = new Vue({
      el: '#pasatiempo',
      data: {
        isHidden: false
      }
    })

    var example1 = new Vue({
      el: '#example-1',
      data: {
        items: [
          { mensaje: 'Parque Fundidora',  href: "https://www.parquefundidora.org/"},
          { mensaje: 'Parque Ecológico Chipinque', href: "https://www.chipinque.org.mx/"},
          { mensaje: 'Santiago, Nuevo León', href: "https://www.gob.mx/sectur/articulos/santiago-nuevo-leon" },
          { mensaje: 'Cascada de Chipitín', href: "https://nuevoleon.travel/experiencias/cascada-de-chipitin/" },
          { mensaje: 'Museo Marco', href: "http://www.marco.org.mx/index.pl?i=235" }
        ]
      }
    })

    var example1 = new Vue({
      el: '#example-2',
      data: {
        counter: 0
      }
    })

    var example3 = new Vue({
      el: '#example-3',
      data: {
        message3: ''
      }
    })
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>