<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mybrary</title>
</head>
<body>
	Before
	<br>
	<!-- this body variable is to be able to put every information from all files inside views folder but have the same layout and not having to copy everything again -->
	<%- body %>
	<br>
	After
</body>
</html>